/* fonts */
$mainFont:  'Roboto';
$secondaryFont : 'Roboto Slab';


/* Media queries */
$mobile: 480px;
$tablet: 768px;
$tabletmd: 992px;
$desktop: 1280px;


/* Colors */
$primaryColor: #143CF0;
$secondaryColor: #D8D7D6;

$greenColor: #00B46A;
$whiteColor: #FFFFFF;
$yellowColor: #DDFF0E;

$fontPrimaryColor: #000;

