@import "../../assets/styles/helpers/variables.scss";
@import "../../assets/styles/helpers/mixins.scss";

.projects {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: $secondaryColor;
    position: relative;
    min-height: 100vh;
    .container {
        //width: 100px;
    }
}