@import "../../assets/styles/helpers/variables.scss";
@import "../../assets/styles/helpers/mixins.scss";
.skills {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: $primaryColor;
  position: relative;
  min-height: 50vh;

  .container {

    h2.main-title {
      //order: 0;
      font-family: $secondaryFont;
      color: $whiteColor;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      display: block;
      width: 100%;
      margin-bottom: 60px;
      @include df-tablet {
        margin-bottom: 30px;
        order: 3;
      }
    }

    .skills-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @include df-tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;

      }
      @include df-mobile {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        
      }
    }

    .knowledge-content {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 150px;
      justify-content: center;

      @include desktop {
        margin-top: 100px;
      }
    }
  }
  @include df-tablet {
    padding: 100px 0;
    
  }
}
